h1{color:black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
border-top: solid black;
border-bottom: solid black;
}

h2{color:black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}

p{color:black;
     font-family: fantasy;
     text-align: center;
     font-size:25px;
}

.lista_de_aparatos
{color:black;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 20px;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

